services:
  grafana:
    image: grafana/grafana
    restart: always
    volumes:
      - grafana-data:/var/lib/grafana
    ports:
      - 3000:3000
  loki:
    build: .
    ports:
      - 3100:3100
    volumes:
      - loki-data:/loki

volumes:
  grafana-data:
  loki-data:
